<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Produtos em Estoque</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group *ngFor="let item of items" [multiple]="true" [value]="['first']">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>{{item?.nome}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
          <ion-card-content>
            <ion-card-title>
              Valor de Venda
            </ion-card-title>
            <p>
              {{item.preco | currency}}
            </p>
          </ion-card-content>
          <ion-card-content>
            <ion-card-title>
              Valor de Compra
            </ion-card-title>
            <p>
              {{item.vlrCompra | currency}}
            </p>
          </ion-card-content>
          <ion-card-content>
            <ion-card-title>
              Quantidade em estoque
            </ion-card-title>
            <p>
              {{item.quantidade}}
            </p>
          </ion-card-content>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>