<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Produtos em Estoque</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-item *ngFor="let result of items">
    <ion-item *ngFor="let item of items" [button]="true" (click)="setOpen(true)">{{result?.nome}}</ion-item>
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Descrição</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-card-content>
            <ion-card-title>
              Valor de Venda
            </ion-card-title>
            <p>
              {{result.preco | currency}}
            </p>
          </ion-card-content>
          <ion-card-content>
            <ion-card-title>
              Valor de Compra
            </ion-card-title>
            <p>
              {{result.vlrCompra | currency}}
            </p>
          </ion-card-content>
          <ion-card-content>
            <ion-card-title>
              Quantidade em estoque
            </ion-card-title>
            <p>
              {{result.quantidade}}
            </p>
          </ion-card-content>
          
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-item>
</ion-content>

