<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gestão de Vendas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card style="height: 100%;">
    <ion-item lines="none" style="height: 50%; padding-top: 100px;">
      <ion-button fill="outline" size="large" style=" width: 400px; height: 100px;" (click)="vendasHoje(true)">Hoje</ion-button>
      <ion-button fill="outline" size="large" style=" width: 400px; height: 100px;" (click)="vendasOntem(true)">Ontem</ion-button>
      <ion-button fill="outline" size="large" style=" width: 400px; height: 100px;" (click)="vendasSemanal(true)">Semanal</ion-button>
    </ion-item>
    <ion-item lines="none" style="height: 50%;">
      <ion-button fill="outline" size="large" style=" width: 400px; height: 100px;" (click)="vendasMensal(true)">Mensal</ion-button>
      <ion-button fill="outline" size="large" style=" width: 400px; height: 100px;" (click)="vendasAnual(true)">Anual</ion-button>
      <ion-button fill="outline" size="large" style=" width: 400px; height: 100px;" (click)="vendasPersonalizado(true)">Personalizado</ion-button>
    </ion-item>
  </ion-card>

  <ion-modal [isOpen]="isModalHoje">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Relatório de Vendas</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="vendasHoje(false)"><ion-icon name="close-circle-outline" size="large"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <h1 style="padding-left: 20px;">Vendas Hoje</h1>
        <ion-list [inset]="true">
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col><p style="font-weight: bold;">Data</p> {{hoje.dataVenda}} </ion-col>
                <ion-col><p style="font-weight: bold;">Pedidos</p> {{hoje.qtdVendido}} </ion-col>
                <ion-col><p style="font-weight: bold;">Total Custo</p> {{hoje.totVlrCompra | currency}} </ion-col>
                <ion-col><p style="font-weight: bold;">Total Venda</p>  {{hoje.totVlrVenda | currency}} </ion-col>
                <ion-col><p style="font-weight: bold;">Total Lucro</p>  {{hoje.lucro | currency}} </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isModalOntem">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Relatório de Vendas</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="vendasOntem(false)"><ion-icon name="close-circle-outline" size="large"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <h1 style="padding-left: 20px;">Vendas Ontem</h1>
        <ion-list [inset]="true">
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col><p style="font-weight: bold;">Data</p> {{ontem.dataVenda}} </ion-col>
                <ion-col><p style="font-weight: bold;">Pedidos</p> {{ontem.qtdVendido}} </ion-col>
                <ion-col><p style="font-weight: bold;">Total Custo</p> {{ontem.totVlrCompra | currency}} </ion-col>
                <ion-col><p style="font-weight: bold;">Total Venda</p>  {{ontem.totVlrVenda | currency}} </ion-col>
                <ion-col><p style="font-weight: bold;">Total Lucro</p>  {{ontem.lucro | currency}} </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
  
  <ion-modal [isOpen]="isModalSemana">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Relatório de Vendas</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="vendasSemanal(false)"><ion-icon name="close-circle-outline" size="large"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <h1 style="padding-left: 20px;">Vendas da Semana</h1>
        <ion-list [inset]="true">
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col><p style="font-weight: bold;">Data</p> {{semana.dataVenda}} </ion-col>
                <ion-col><p style="font-weight: bold;">Pedidos</p> {{semana.qtdVendido}} </ion-col>
                <ion-col><p style="font-weight: bold;">Total Custo</p> {{semana.totVlrCompra | currency}} </ion-col>
                <ion-col><p style="font-weight: bold;">Total Venda</p>  {{semana.totVlrVenda | currency}} </ion-col>
                <ion-col><p style="font-weight: bold;">Total Lucro</p>  {{semana.lucro | currency}} </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isModalMes">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Relatório de Vendas</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="vendasMensal(false)"><ion-icon name="close-circle-outline" size="large"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <h1 style="padding-left: 20px;">Vendas do Mês</h1>
        <ion-list [inset]="true">
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col><p style="font-weight: bold;">Data</p> {{mes.dataVenda}} </ion-col>
                <ion-col><p style="font-weight: bold;">Pedidos</p> {{mes.qtdVendido}} </ion-col>
                <ion-col><p style="font-weight: bold;">Total Custo</p> {{mes.totVlrCompra | currency}} </ion-col>
                <ion-col><p style="font-weight: bold;">Total Venda</p>  {{mes.totVlrVenda | currency}} </ion-col>
                <ion-col><p style="font-weight: bold;">Total Lucro</p>  {{mes.lucro | currency}} </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isModalAno">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Relatório de Vendas</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="vendasAnual(false)"><ion-icon name="close-circle-outline" size="large"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <h1 style="padding-left: 20px;">Vendas do Ano</h1>
        <ion-list [inset]="true">
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col><p style="font-weight: bold;">Data</p> {{ano.dataVenda}} </ion-col>
                <ion-col><p style="font-weight: bold;">Pedidos</p> {{ano.qtdVendido}} </ion-col>
                <ion-col><p style="font-weight: bold;">Total Custo</p> {{ano.totVlrCompra | currency}} </ion-col>
                <ion-col><p style="font-weight: bold;">Total Venda</p>  {{ano.totVlrVenda | currency}} </ion-col>
                <ion-col><p style="font-weight: bold;">Total Lucro</p>  {{ano.lucro | currency}} </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isModalPersonalizado">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Relatório de Vendas</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="vendasPersonalizado(false)"><ion-icon name="close-circle-outline" size="large"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <h1 style="padding-left: 20px;">Vendas Hoje</h1>
        <ion-list [inset]="true">
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col><p style="font-weight: bold;">Data</p> {{hoje.dataVenda}} </ion-col>
                <ion-col><p style="font-weight: bold;">Pedidos</p> {{hoje.qtdVendido}} </ion-col>
                <ion-col><p style="font-weight: bold;">Total Custo</p> {{hoje.totVlrCompra | currency}} </ion-col>
                <ion-col><p style="font-weight: bold;">Total Venda</p>  {{hoje.totVlrVenda | currency}} </ion-col>
                <ion-col><p style="font-weight: bold;">Total Lucro</p>  {{hoje.lucro | currency}} </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
  

