.datasInput {
    margin-top: 10%; 
    text-align: center;

    .dtFinal {
        width: 300px; 
        font-size: 30px; 
        border-color:rgb(88, 88, 255); 
        color:rgb(88, 88, 255); 
        margin-left: 100px;
    }
    
    .dtInicial {
        width: 300px; 
        font-size: 30px; 
        border-color:rgb(88, 88, 255); 
        color:rgb(88, 88, 255);
        margin-left: 25%;
    }
}

ion-modal {
    --width: 850px;
    --height: 600px;
}