<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">Cadastro de Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form id="formProduto">
    <ion-item>
      <ion-label position="stacked" style="font: 20px bold;">Nome</ion-label>
      <ion-input [(ngModel)]="prod.nome" name="login" type="text" [clearInput]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" style="font: 20px bold;">Preço</ion-label>
      <ion-input [(ngModel)]="prod.preco" name="password" type="number" placeholder="R$ 00,00" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-button *ngIf="prod.id === ''" [routerLink]="['/produto-pesquisa']" expand="block" color="primary"  id="btnLogar" (click)="cadastrar()">Cadastrar
      <ion-icon slot="end" name="open"></ion-icon>
    </ion-button>

    <ion-button *ngIf="prod.id != ''" [routerLink]="['/produto-pesquisa']" expand="block" color="warning"  id="btnLogar" (click)="salvar()">Salvar
      <ion-icon slot="end" name="open"></ion-icon>
    </ion-button>
  </form>
</ion-content>
