<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/produtos"></ion-back-button>
    </ion-buttons>
    <ion-title>ProdutoDetail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab slot="fixed" vertical="top" horizontal="end">
    <ion-fab-button shape="round" (click)="showCarrinho()" ion-fab mini><ion-icon name="cart"></ion-icon></ion-fab-button>
  </ion-fab>
  <ion-card>
    <img [src]="item?.imageUrl || 'assets/imgs/prod.png'"/>
    <ion-card-content>
      <ion-card-title>
        {{item?.nome}}
        </ion-card-title>
      <p>
        {{item?.preco | currency}}
      </p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" fill="outline" id="btnLogar" (click)="addToCart(item)"> Adicionar ao carrinho
    <ion-icon slot="end" name="cart"></ion-icon>
  </ion-button>
</ion-content>
