<ion-header [translucent]="true" *ngIf="tipoTela == 1">
  <ion-toolbar>
    <ion-title>Categoria do Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="tipoTela == 1">
<ion-searchbar [debounce]="10000" (ionChange)="handleChangeCategoria($event)" clear-icon="trash-bin"
               placeholder="Nome"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of categorias" [button]="true" (click)="showProdutos(item.id)">
      <ion-thumbnail item-start>
        <img src="assets/categorias/cat{{item.id}}.png">
      </ion-thumbnail>
      <h2> {{ item.nome }}</h2>
    </ion-item>
  </ion-list>
</ion-content>

<ion-header [translucent]="true" *ngIf="tipoTela == 2">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" type="button" (click)="ngOnInit()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="tipoTela == 2">
  <ion-list [inset]="true">
    <ion-item *ngFor="let item of produtos[0]" [button]="true"  (click)="addToCart(item)">
        <ion-card-content>
          <ion-card-title>
            {{item?.nome}}
          </ion-card-title>
          <p>
            {{item.preco | currency}}
          </p>
        </ion-card-content>
    </ion-item>
  </ion-list>
</ion-content>

<ion-header [translucent]="true" *ngIf="tipoTela == 3">
  <ion-toolbar>
    <ion-title>Lista do Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="tipoTela == 3">
  <ion-list [inset]="true">
    <ion-item *ngFor="let item of carrinho">
      <ion-card-content >
        <ion-card-title style="font-weight: bold; font-size: 25px;">
          {{item?.produto.nome}}
        </ion-card-title>
        <h1>
          Vlr: {{item.produto.preco | currency}}
        </h1>
        <ion-label style="font-size: 25px;"> Qtd: {{item.quantidade}}
          <ion-icon size="large" name="remove-circle" color="primary"  (click)="decreaseQuantity(item.produto)"></ion-icon>
          <ion-icon size="large" name="add-circle" color="primary" (click)="increaseQuantity(item.produto)"></ion-icon>
          <ion-icon size="large" name="trash" item-end  color="danger" (click)="removeItem(item.produto)"></ion-icon>
        </ion-label>
      </ion-card-content>
    </ion-item>
    <ion-item *ngIf="total() > 0">
      <ion-label style="font-size: 25px;"> Total:  {{total() | currency}}</ion-label>
    </ion-item>
    <ion-item *ngIf="total() <= 0">
      <h1>Seu carrinho está vazio</h1>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="goOn()">Continuar comprando</ion-button>
  <ion-button *ngIf="total() > 0" color="success" expand="block" (click)="checkout()">Finalizar pedido</ion-button>
</ion-content>

<ion-header [translucent]="true" *ngIf="tipoTela == 4">
  <ion-toolbar>
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="tipoTela == 4">
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="cadastro()" ><ion-icon name="person"></ion-icon></ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item *ngFor="let item of clientes" [button]="true" (click)="showEnderecos(item.id)">
      <ion-thumbnail item-start>
        <img class="circle" [src]="usuario?.imageUrl || 'assets/imgs/avatar-blank.png'">
      </ion-thumbnail>
      <h2> {{ item.nome }}</h2>
      <ion-button (click)="edicao(item.id)" slot="end"> Editar </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-modal [isOpen]="isModalNewCliente">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Cadastro de Cliente</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpenNewCliente(false)"><ion-icon name="close-circle-outline" size="large"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content [fullscreen]="true" *ngIf="tipoTela == 9" class="endereco">
      <form id="formCliente">
        <ion-item>
          <ion-input label="Nome" [(ngModel)]="newCli.nome" name="nome" type="text" [clearInput]="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="E-mail" [(ngModel)]="newCli.email" name="email" type="email" [clearInput]="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Telefone" [(ngModel)]="newCli.telefone" name="telefone" type="text" [clearInput]="true" [brmasker]="{mask:'(00) 0 0000-0000', len:16}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-select label="Tipo Cliente" placeholder="Selecione" (ionChange)="handleChangeTipoCliente($event);">
            <ion-select-option value="PESSOAFISICA">Pessoa Física</ion-select-option>
            <ion-select-option value="PESSOAJURIDICA">Pessoa Jurídica</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" style="font: 20px bold;" *ngIf="newCli.tipo != 2">CPF</ion-label>
          <ion-label position="stacked" style="font: 20px bold;" *ngIf="newCli.tipo == 2">CNPJ</ion-label>
          <ion-input [(ngModel)]="newCli.cpfOuCnpj" name="cpfOuCnpj" type="text" [clearInput]="true"></ion-input>
        </ion-item>
    
        <ion-card color="light">
          <ion-card-title style="font-weight: bold; color: #747474;">Endereço</ion-card-title>
          <ion-item>
            <ion-input label="Logradouro" [(ngModel)]="endereco.logradouro" name="logradouro" type="text" [clearInput]="true"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Bairro" [(ngModel)]="endereco.bairro" name="bairro" type="text" [clearInput]="true"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Número" [(ngModel)]="endereco.numero" name="numero" type="text" [clearInput]="true"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Complemento" [(ngModel)]="endereco.complemento" name="complemento" type="text" [clearInput]="true"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Cep" [(ngModel)]="endereco.cep" name="cep" type="text" [clearInput]="true"></ion-input>
          </ion-item>
          <ion-item>
              <ion-select label="Estado" placeholder="Selecione"  (ionChange)="handleChangeEstados($event)">
                  <ion-select-option *ngFor="let item of estados" value="{{item.id}}">{{item.uf}}</ion-select-option>
              </ion-select>
          </ion-item>
          <ion-item>
            <ion-select label="Cidade" placeholder="Selecione" (ionChange)="handleChangeCidades($event)">
              <div *ngFor="let item of cidades">
                  <ion-select-option value="{{item.id}}">{{item.nome}}</ion-select-option>
              </div>
            </ion-select>
          </ion-item>
    
        </ion-card>
        <ion-button expand="block" color="primary"  id="btnInserir" (click)="addNewCliente()">Cadastrar
          <ion-icon slot="end" name="open"></ion-icon>
        </ion-button>
        
      </form>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="isModalEditCliente">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Alteração de Cliente</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpenEditCliente(false)"><ion-icon name="close-circle-outline" size="large"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content [fullscreen]="true" *ngIf="tipoTela == 10">
      <form>
        <ion-item>
          <ion-input label="Nome" [(ngModel)]="cli.nome" name="nome" type="text" [clearInput]="true"></ion-input>
        </ion-item>
        <ion-item >
          <ion-input label="E-mail" [(ngModel)]="cli.email" name="email" type="email" [clearInput]="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Telefone" [(ngModel)]="cli.telefone" name="telefone" type="text" [clearInput]="true" [brmasker]="{mask:'(00) 0 0000-0000', len:16}"></ion-input>
        </ion-item>
        <ion-item >
          <ion-select label="Endereços" placeholder="Selecione"  (ionChange)="handleChangeEndereco($event)">
              <ion-select-option *ngFor="let item of enderecos" value="{{item.id}}">{{item.logradouro}}</ion-select-option>
          </ion-select>
      </ion-item>
    
       <ion-card color="light" >
        <ion-card-title style="font-weight: bold; color: #747474;">Endereço</ion-card-title>
        <ion-item>
          <ion-input label="Logradouro" [(ngModel)]="endereco.logradouro" name="logradouro" type="text" [clearInput]="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Bairro" [(ngModel)]="endereco.bairro" name="bairro" type="text" [clearInput]="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Número" [(ngModel)]="endereco.numero" name="numero" type="text" [clearInput]="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Complemento" [(ngModel)]="endereco.complemento" name="complemento" type="text" [clearInput]="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Cep" [(ngModel)]="endereco.cep" name="cep" type="text" [clearInput]="true"></ion-input>
        </ion-item>
        <div [formGroup]="formEdit" *ngIf="formEdit" >
          <ion-item>
            <ion-select formControlName="estadoIdEditado" label="Estado" placeholder="Selecione" (ionChange)="handleChangeEstados($event)">
                <ion-select-option *ngFor="let estado of estados" [value]="estado.id">{{estado.uf}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-select formControlName="cidadeIdEditado" label="Cidade" placeholder="Selecione" (ionChange)="handleChangeCidades($event)">
              <div *ngFor="let item of cidades">
                  <ion-select-option [value]="item.id">{{item.nome}}</ion-select-option>
              </div>
            </ion-select>
          </ion-item>
        </div>
    
      </ion-card>
    
        <ion-button expand="block" color="warning"  id="btnSalvar" (click)="alterarEnderecoEditado()">Salvar
          <ion-icon slot="end" name="open"></ion-icon>
        </ion-button>
    
      </form>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-header [translucent]="true" *ngIf="tipoTela == 5">
  <ion-toolbar>
    <ion-title>Endereços do Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="tipoTela == 5">
  <ion-list>
    <ion-item *ngFor="let item of enderecos" [button]="true"  (click)="nextPage(item)">
      <ion-label>
        <h1>{{item.logradouro}}, {{item.numero}}</h1>
        <p>{{item.complemento}} {{item.bairro}} CEP {{item.cep}}</p>
        <p>{{item.cidade.nome}}, {{item.cidade.estado.nome}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-header [translucent]="true" *ngIf="tipoTela == 6">
  <ion-toolbar>
    <ion-title>Formas de Pagamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="tipoTela == 6">
  <form [formGroup]="formPagamento" (ngSubmit)="confirmarPedido(); $event.preventDefault()">
    <ion-radio-group formControlName="@type">
      <ion-item>
        <ion-icon name="card-outline"></ion-icon>
        <ion-label>Débito</ion-label>
        <ion-radio checked="true" value="pagamentoComDebito"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-icon name="card-outline"></ion-icon>
        <ion-label>Crédito</ion-label>
        <ion-radio checked="true" value="pagamentoComCredito"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-icon name="cash-outline"></ion-icon>
        <ion-label>Dinheiro</ion-label>
        <ion-radio checked="true" value="pagamentoNoDinheiro"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-icon name="id-card-outline"></ion-icon>
        <ion-label>Marcar na Conta</ion-label>
        <ion-radio checked="true" value="marcarConta"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-item *ngIf="formPagamento.value['@type'] == 'pagamentoComCredito'">
      <ion-label stacked>Parcelas no Cartão de Crédito</ion-label>
      <ion-select formControlName="numeroDeParcelas">
        <ion-select-option *ngFor="let n of parcelas; first as f" [value]="n" [selected]="f">{{n}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="formPagamento.invalid">Próximo</ion-button>
  </form>
</ion-content>

<ion-header [translucent]="true" *ngIf="tipoTela == 7">
  <ion-toolbar>
    <ion-title>Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="tipoTela == 7 && !cod_pedido">
  <div *ngIf="!codpedido">
    <ion-card>
      <ion-card-header style="text-align: center; font-weight: bold;font-size: 20px;">
        Itens do pedido
      </ion-card-header>

      <ion-list>
        <ion-item *ngFor="let item of cartItems">
          <ion-card-content >
            <ion-card-title style="font-weight: bold; font-size: 25px;">
              {{item?.produto.nome}}
            </ion-card-title>
            <h1>
              Vlr: {{item.produto.preco | currency}}
            </h1>
            <ion-label style="font-size: 25px;"> Qtd: {{item.quantidade}}
            </ion-label>
          </ion-card-content>
        </ion-item>

        <ion-item>
          <ion-label style="font-size: 25px;"> Total:  {{total()  | currency}}</ion-label>
        </ion-item>
      </ion-list> 
    </ion-card>

    <ion-card-content>
        <ion-card-title>
          Cliente
        </ion-card-title>
          <h1>{{clienteSelecionado?.nome}}</h1>
          <ion-label>{{clienteSelecionado?.email}}</ion-label>
    </ion-card-content>

    <ion-card-content>
      <ion-card-title>
        Endereço cliente
      </ion-card-title>

      <ion-label>
        <h1>{{enderecoSelecionado?.logradouro}}, {{enderecoSelecionado?.numero}}</h1>
        <p>{{enderecoSelecionado?.complemento}} {{enderecoSelecionado?.bairro}} CEP {{enderecoSelecionado?.cep}}</p>
        <p>{{enderecoSelecionado?.cidade.nome}}, {{enderecoSelecionado?.cidade.estado.nome}}</p>
      </ion-label>
    </ion-card-content>

    <ion-card-content>
      <ion-card-title>
        Forma de pagamento
      </ion-card-title>

      <ion-label *ngIf="pedido.pagamento['@type']==='pagamentoComDebito'">
        <h1>Débito</h1>
      </ion-label>
      <ion-label *ngIf="pedido.pagamento['@type']==='pagamentoComCredito'">
        <h1>Crédito</h1>
        <p>Parcelas: {{pedido.pagamento.numeroDeParcelas}}</p>
      </ion-label>
      <ion-label *ngIf="pedido.pagamento['@type']==='conta'">
        <h1>Na conta</h1>
      </ion-label>
    </ion-card-content>

    <ion-button color="success" expand="block"  id="finalizar" (click)="fecharPedido()"> Confirmar pedido
      <ion-icon slot="end" name="open"></ion-icon>
    </ion-button>

    <ion-button expand="block" fill="outline" id="finalizar" (click)="back()"> Voltar
      <ion-icon slot="end" name="open"></ion-icon>
    </ion-button>

  </div>

</ion-content>

<ion-content *ngIf="tipoTela == 8">
  <div >
    <ion-card>
        <ion-card-header>
          Seu pedido foi registrado!
        </ion-card-header>
        <ion-item>
          <h2>Código do pedido: {{cod_pedido}}</h2>
        </ion-item>
    </ion-card>

    <ion-button expand="block" fill="outline" id="finalizar" (click)="home()"> Voltar
      <ion-icon slot="end" name="open"></ion-icon>
    </ion-button>
  </div>
</ion-content>
