<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Itens do Cardápio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="tipoTela == 1">
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button shape="round" (click)="cadastro()" ion-fab mini><ion-icon name="add"></ion-icon></ion-fab-button>
  </ion-fab>
<ion-searchbar [debounce]="10000" (ionChange)="handleChangeCategoria($event)" clear-icon="trash-bin"
               placeholder="Nome"></ion-searchbar>
  <ion-item-sliding  *ngFor="let item of items; index as i">
    <ion-item-options side="start">
      <ion-item-option (click)="edicao(item.id)">Editar</ion-item-option>
      <ion-item-option color="danger" (click)="excluir(item.id)">Excluir</ion-item-option>
    </ion-item-options>
    <ion-item [button]="true" (click)="edicao(item.id)">
      <ion-thumbnail item-start>
        <img src="assets/categorias/cat{{item.id}}.png">
      </ion-thumbnail>
      <h2> {{ item.nome }}</h2>
    </ion-item>
  </ion-item-sliding>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="tipoTela == 2">
  <form [formGroup]="formCategoria" id="formCategoria">
    <ion-item>
      <ion-label position="stacked" style="font: 20px bold;">Nome</ion-label>
      <ion-input [(ngModel)]="newCat.nome" name="nome" type="text" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-select multiple="true" (ionChange)="handleChange($event)">
      <div *ngFor="let item of produtos">
          <ion-select-option value="{{item.id}}">{{item.nome}}</ion-select-option>
      </div>
   </ion-select>

    <ion-button expand="block" color="primary"  id="btnLogar" (click)="cadastrar()">Cadastrar
      <ion-icon slot="end" name="open"></ion-icon>
    </ion-button>

  </form>
</ion-content>


<ion-content [fullscreen]="true" *ngIf="tipoTela == 3">
  <form id="formCategoria">
    <ion-item>
      <ion-label position="stacked" style="font: 20px bold;">Nome</ion-label>
      <ion-input [(ngModel)]="cat.nome" name="login" type="text" [clearInput]="true"></ion-input>
    </ion-item>

      <ion-select multiple="true" (ionChange)="handleChange($event)">
        <div *ngFor="let item of produtos">
            <ion-select-option value="{{item.id}}">{{item.nome}}</ion-select-option>
        </div>
     </ion-select>


    <ion-button expand="block" color="warning"  id="btnLogar" (click)="salvar()">Salvar
      <ion-icon slot="end" name="open"></ion-icon>
    </ion-button>
  </form>
</ion-content>


