<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Pesquisa de Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  *ngIf="tipoTela == 1">
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button shape="round" (click)="cadastro()" ion-fab mini><ion-icon name="add"></ion-icon></ion-fab-button>
  </ion-fab>
<ion-searchbar [debounce]="10000" (ionChange)="handleChangeCliente($event)" clear-icon="trash-bin"
               placeholder="Nome"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of items" [button]="true" (click)="edicao(item.id)">
      <ion-thumbnail item-start>
        <img class="circle" [src]="usuario?.imageUrl || 'assets/imgs/avatar-blank.png'">
      </ion-thumbnail>
      <h2> {{ item.nome }}</h2>
    </ion-item>
  </ion-list>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="tipoTela == 2" class="endereco">
  <form id="formCliente">
    <ion-item>
      <ion-label position="stacked" style="font: 20px bold;">Nome</ion-label>
      <ion-input [(ngModel)]="newCli.nome" name="nome" type="text" [clearInput]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" style="font: 20px bold;">E-mail</ion-label>
      <ion-input [(ngModel)]="newCli.email" name="preco" type="email" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-card color="light">
      <ion-card-title style="font-weight: bold; color: #747474;">Endereço</ion-card-title>
      <ion-item>
        <ion-label position="stacked" style="font: 20px bold;">Logradouro</ion-label>
        <ion-input [(ngModel)]="endereco.logradouro" name="nome" type="text" [clearInput]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" style="font: 20px bold;">Bairro</ion-label>
        <ion-input [(ngModel)]="endereco.bairro" name="preco" type="email" [clearInput]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" style="font: 20px bold;">Número</ion-label>
        <ion-input [(ngModel)]="endereco.numero" name="nome" type="text" [clearInput]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" style="font: 20px bold;">Complemento</ion-label>
        <ion-input [(ngModel)]="endereco.complemento" name="preco" type="email" [clearInput]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" style="font: 20px bold;">Cep</ion-label>
        <ion-input [(ngModel)]="endereco.cep" name="preco" type="email" [clearInput]="true"></ion-input>
      </ion-item>
      <ion-item>
          <ion-select label="Estado" placeholder="Selecione"  (ionChange)="handleChangeEstados($event)">
              <ion-select-option *ngFor="let item of estados" value="{{item.id}}">{{item.uf}}</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item>
        <ion-select label="Cidade" placeholder="Selecione" (ionChange)="handleChangeCidades($event)">
          <div *ngFor="let item of cidades">
              <ion-select-option value="{{item.id}}">{{item.nome}}</ion-select-option>
          </div>
        </ion-select>
      </ion-item>

      <ion-button expand="block" color="warning"  id="btnSalvar" (click)="salvar()">Salvar
        <ion-icon slot="end" name="open"></ion-icon>
      </ion-button>

    </ion-card>
    
  </form>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="tipoTela == 3">
  <form id="formCliente">
    <ion-item>
      <ion-label position="stacked" style="font: 20px bold;">Nome</ion-label>
      <ion-input [(ngModel)]="cli.nome" name="nome" type="text" [clearInput]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" style="font: 20px bold;">E-mail</ion-label>
      <ion-input [(ngModel)]="cli.email" name="preco" type="email" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-select multiple="true" (ionChange)="handleChangeEndereco($event)">
      <div *ngFor="let item of enderecos">
          <ion-select-option value="{{item.id}}">{{item.nome}}</ion-select-option>
      </div>
   </ion-select>

    <ion-button expand="block" color="warning"  id="btnSalvar" (click)="salvar()">Salvar
      <ion-icon slot="end" name="open"></ion-icon>
    </ion-button>

  </form>
</ion-content>
