<ion-header [translucent]="true" *ngIf="tipoTela == 1">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Pesquisa de Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  *ngIf="tipoTela == 1" class="ion-page">
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button shape="round" (click)="cadastro()" ion-fab mini><ion-icon name="add"></ion-icon></ion-fab-button>
  </ion-fab>
  <ion-searchbar [debounce]="10000" (ionChange)="handleChangeCliente($event)" clear-icon="trash-bin"
                placeholder="Nome"></ion-searchbar>
  <ion-item-sliding  *ngFor="let item of items; index as i">
    <ion-item-options side="start">
      <ion-item-option (click)="edicao(item.id)">Editar</ion-item-option>
      <ion-item-option color="danger" (click)="excluir(item.id)">Excluir</ion-item-option>
    </ion-item-options>
    <ion-item [button]="true" (click)="edicao(item.id)">
      <ion-thumbnail item-start>
        <img *ngIf="item.tipo == 'PESSOAFISICA' || item.tipo == 'PESSOAJURIDICA'" class="circle" [src]="usuario?.imageUrl || 'assets/imgs/avatar-blank.png'">
        <img *ngIf="item.tipo == 'MESA'" class="circle" [src]="'assets/imgs/mesa.jpg'">
      </ion-thumbnail>
      <h2> {{ item.nome }}</h2>
    </ion-item>
  </ion-item-sliding>
</ion-content>

<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Tipo de Cliente</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)">Sair</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content color="light">
      <ion-list [inset]="true">
        <p class="ion-padding-horizontal">Selecione o Tipo do Cliente</p>
        <ion-item>
          <ion-checkbox id="terms" aria-label="Toggle task completion" labelPlacement="first" (ionChange)="checkPessoa($event)" [checked]="canDismiss">
            Pessoa
          </ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-checkbox id="terms" labelPlacement="first" (ionChange)="checkMesa($event)" [checked]="canDismiss">
            Mesa
          </ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-header [translucent]="true" *ngIf="tipoTela == 2">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" type="button" (click)="ngOnInit()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cadastro de Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="tipoTela == 2" class="endereco">
  <form id="formCliente">
    <ion-item>
      <ion-input label="Nome" [(ngModel)]="newCli.nome" name="nome" type="text" [clearInput]="true"></ion-input>
    </ion-item>
    <ion-item *ngIf="pessoa">
      <ion-input label="E-mail" [(ngModel)]="newCli.email" name="email" type="email" [clearInput]="true"></ion-input>
    </ion-item>
    <ion-item *ngIf="pessoa">
      <ion-select label="Tipo Cliente" placeholder="Selecione" (ionChange)="handleChangeTipoCliente($event);">
        <ion-select-option value="PESSOAFISICA">Pessoa Física</ion-select-option>
        <ion-select-option value="PESSOAJURIDICA">Pessoa Jurídica</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item  *ngIf="pessoa">
      <ion-label position="stacked" style="font: 20px bold;" *ngIf="newCli.tipo != 2">CPF</ion-label>
      <ion-label position="stacked" style="font: 20px bold;" *ngIf="newCli.tipo == 2">CNPJ</ion-label>
      <ion-input [(ngModel)]="newCli.cpfOuCnpj" name="cpfOuCnpj" type="text" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-card color="light"  *ngIf="pessoa">
      <ion-card-title style="font-weight: bold; color: #747474;">Endereço</ion-card-title>
      <ion-item>
        <ion-input label="Logradouro" [(ngModel)]="endereco.logradouro" name="logradouro" type="text" [clearInput]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Bairro" [(ngModel)]="endereco.bairro" name="bairro" type="text" [clearInput]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Número" [(ngModel)]="endereco.numero" name="numero" type="text" [clearInput]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Complemento" [(ngModel)]="endereco.complemento" name="complemento" type="text" [clearInput]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Cep" [(ngModel)]="endereco.cep" name="cep" type="text" [clearInput]="true"></ion-input>
      </ion-item>
      <ion-item>
          <ion-select label="Estado" placeholder="Selecione"  (ionChange)="handleChangeEstados($event)">
              <ion-select-option *ngFor="let item of estados" value="{{item.id}}">{{item.uf}}</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item>
        <ion-select label="Cidade" placeholder="Selecione" (ionChange)="handleChangeCidades($event)">
          <div *ngFor="let item of cidades">
              <ion-select-option value="{{item.id}}">{{item.nome}}</ion-select-option>
          </div>
        </ion-select>
      </ion-item>

    </ion-card>
    <ion-button expand="block" color="primary"  id="btnInserir" (click)="inserir()">Cadastrar
      <ion-icon slot="end" name="open"></ion-icon>
    </ion-button>
    
  </form>
</ion-content>

<ion-header [translucent]="true" *ngIf="tipoTela == 3">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" type="button" (click)="ngOnInit()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Alteração de Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="tipoTela == 3">
  <form>
    <ion-item>
      <ion-input label="Nome" [(ngModel)]="cli.nome" name="nome" type="text" [clearInput]="true"></ion-input>
    </ion-item>
    <ion-item  *ngIf="pessoa">
      <ion-input label="E-mail" [(ngModel)]="cli.email" name="email" type="email" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-item  *ngIf="enderecos != [] && pessoa">
      <ion-select label="Endereços" placeholder="Selecione"  (ionChange)="handleChangeEndereco($event)">
          <ion-select-option *ngFor="let item of enderecos" value="{{item.id}}">{{item.logradouro}}</ion-select-option>
      </ion-select>
  </ion-item>

   <ion-card color="light" *ngIf="enderecos == [] || endereco.id != '' && pessoa">
    <ion-card-title style="font-weight: bold; color: #747474;">Endereço</ion-card-title>
    <ion-item>
      <ion-input label="Logradouro" [(ngModel)]="endereco.logradouro" name="logradouro" type="text" [clearInput]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Bairro" [(ngModel)]="endereco.bairro" name="bairro" type="text" [clearInput]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Número" [(ngModel)]="endereco.numero" name="numero" type="text" [clearInput]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Complemento" [(ngModel)]="endereco.complemento" name="complemento" type="text" [clearInput]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Cep" [(ngModel)]="endereco.cep" name="cep" type="text" [clearInput]="true"></ion-input>
    </ion-item>
    <div [formGroup]="formEdit" *ngIf="formEdit" >
      <ion-item>
        <ion-select formControlName="estadoIdEditado" label="Estado" placeholder="Selecione" (ionChange)="handleChangeEstados($event)">
            <ion-select-option *ngFor="let estado of estados" [value]="estado.id">{{estado.uf}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select formControlName="cidadeIdEditado" label="Cidade" placeholder="Selecione" (ionChange)="handleChangeCidades($event)">
          <div *ngFor="let item of cidades">
              <ion-select-option [value]="item.id">{{item.nome}}</ion-select-option>
          </div>
        </ion-select>
      </ion-item>
    </div>

  </ion-card>

    <ion-button expand="block" color="warning"  id="btnSalvar" (click)="salvar()">Salvar
      <ion-icon slot="end" name="open"></ion-icon>
    </ion-button>

  </form>
</ion-content>
