<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Baixa no Estoque</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor="let result of items">
    <ion-item [button]="true" (click)="setOpen(true, result.id)" style="width: 100%;">{{result?.nome}}</ion-item>
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Descrição</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-card-content>
            <ion-card-title>
              Valor de Venda
            </ion-card-title>
            <p>
              {{result.preco | currency}}
            </p>
          </ion-card-content>
          <ion-card-content>
            <ion-card-title>
              Valor de Compra
            </ion-card-title>
            <p>
              {{result.vlrCompra | currency}}
            </p>
          </ion-card-content>
          <ion-card-content>
            <ion-card-title>
              Quantidade em estoque
            </ion-card-title>
            <ion-input [(ngModel)]="produtoEditado.quantidade" type="text" [clearInput]="true"></ion-input>
          </ion-card-content>
          <ion-button *ngIf="produtoEditado.id != ''" expand="block" color="warning"  id="btnSalvar" (click)="salvar()">Salvar
            <ion-icon slot="end" name="open"></ion-icon>
          </ion-button>
          
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-item>
</ion-content>
