<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Novo Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Novo Usuário</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="formGroup" (ngSubmit)="signupUser(); $event.preventDefault()">
    <ion-item>
      <ion-label position="stacked" style="font: 20px bold;">Login*:</ion-label>
      <ion-input formControlName="login" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.login.dirty && formGroup.controls.login.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label position="stacked" style="font: 20px bold;">Senha*:</ion-label>
      <ion-input formControlName="password" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.password.dirty && formGroup.controls.password.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label position="stacked" style="font: 20px bold;">Email*:</ion-label>
      <ion-input formControlName="email" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.email.dirty && formGroup.controls.email.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label>Tipo de Usuário</ion-label>
      <ion-radio-group formControlName="role">
        <ion-radio value="ADMIN">ADMIN</ion-radio><br />
        <ion-radio value="USER">ATENDENTE</ion-radio><br />
      </ion-radio-group>
    </ion-item>
    
    <ion-button expand="block" fill="outline" id="btnLogar" type="submit" [disabled]="formGroup.invalid"> Criar conta
      <ion-icon slot="end" name="open"></ion-icon>
    </ion-button>
  </form>
</ion-content>
