<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-weight: bold; text-align: center;">Medalhão Espetos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-grid>
    <ion-row style="text-align: center; width: 100%;">
        <ion-item *ngFor="let item of clientes" [button]="true" lines="none" (click)="pedidoMesa(item.id)">
          <ion-col style="text-align: center; width: 230px;">
            <ion-label> {{ item.nome }}
              <img *ngIf="item.livre != 'S'" src="assets/imgs/mesa_verde.png" alt="logo">
              <img *ngIf="item.livre == 'S'" src="assets/imgs/mesa_vermelha.png" alt="logo">
            </ion-label>
          </ion-col>
        </ion-item>
      </ion-row>
    </ion-grid>
</ion-content>
