<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-weight: bold; text-align: center;">Medalhão Espetos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center;">
       <ion-item [button]="true" lines="none" style="text-align: center;">
        <ion-label> Mesa 1
          <img src="assets/imgs/mesa.jpg" alt="logo">
        </ion-label>
       </ion-item>
      </ion-col>
      <ion-col style="text-align: center;">
        <ion-item [button]="true" lines="none" style="text-align: center;">
          <ion-label>Mesa 2
            <img src="assets/imgs/mesa.jpg" alt="logo">
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col style="text-align: center;">
        <ion-item [button]="true" lines="none" style="text-align: center;">
          <ion-label>Mesa 3
            <img src="assets/imgs/mesa.jpg" alt="logo">
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col style="text-align: center;">
        <ion-item [button]="true" lines="none" style="text-align: center;">
          <ion-label>Mesa 4
            <img src="assets/imgs/mesa.jpg" alt="logo">
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col style="text-align: center;">
        <ion-item [button]="true" lines="none" style="text-align: center;">
          <ion-label>Mesa 5
            <img src="assets/imgs/mesa.jpg" alt="logo">
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-item [button]="true" lines="none" style="text-align: center;">
          <ion-label>Mesa 6
            <img src="assets/imgs/mesa.jpg" alt="logo">
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col style="text-align: center;">
        <ion-item [button]="true" lines="none" style="text-align: center;">
          <ion-label>Mesa 7
            <img src="assets/imgs/mesa.jpg" alt="logo">
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col style="text-align: center;">
        <ion-item [button]="true" lines="none" style="text-align: center;">
          <ion-label>Mesa 8
            <img src="assets/imgs/mesa.jpg" alt="logo">
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col style="text-align: center;">
        <ion-item [button]="true" lines="none" style="text-align: center;">
          <ion-label>Mesa 9
            <img src="assets/imgs/mesa.jpg" alt="logo">
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col style="text-align: center;">
        <ion-item [button]="true" lines="none" style="text-align: center;">
          <ion-label>Mesa 10
            <img src="assets/imgs/mesa.jpg" alt="logo">
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-item [button]="true" lines="none" style="text-align: center;">
          <ion-label>Mesa 11
            <img src="assets/imgs/mesa.jpg" alt="logo">
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col style="text-align: center;">
        <ion-item [button]="true" lines="none" style="text-align: center;">
          <ion-label>Mesa 12
            <img src="assets/imgs/mesa.jpg" alt="logo">
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col style="text-align: center;">
        <ion-item [button]="true" lines="none" style="text-align: center;">
          <ion-label>Mesa 13
            <img src="assets/imgs/mesa.jpg" alt="logo">
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col style="text-align: center;">
        <ion-item [button]="true" lines="none" style="text-align: center;">
          <ion-label>Mesa 14
            <img src="assets/imgs/mesa.jpg" alt="logo">
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col style="text-align: center;">
        <ion-item [button]="true" lines="none" style="text-align: center;">
          <ion-label>Mesa 15
            <img src="assets/imgs/mesa.jpg" alt="logo">
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
