h3 {
    text-align: center;
    padding-top: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

img {
    width: 500px;
    align-self: center;
    margin: auto;
    display: block;
    padding: 10px;
  }

ion-grid {
--ion-grid-columns: 2;
}
  